.statusBox {
    width: 98%;
    min-height: 100px;
    background-color: #FFFAFA;
     box-shadow:0.2px 0.2px 0.2px 0.2px #C9C9C9;
 	-webkit-box-shadow:0.2px 0.2px 0.2px 0.2px #C9C9C9;
	 -moz-box-shadow:0.2px 0.2px 0.2px 0.2px #C9C9C9;
     border-radius: 10px;
      margin: auto; 
      cursor: pointer; 
     
}

span {
  margin: 2px;
  /*border: 1px dotted #cccccc;*/
  padding: 0px 5px 0px 5px; 
  line-height: 1.8;
  word-wrap: normal;
  display: inline-block;
    
    }

.cont3 {
  padding: 5px;
  margin: 5px;
  /*border: 1px solid #cccccc;*/
  width: 98%;
  word-wrap: break-word;
}

.statusBox2 {
    width: 400px;
    height: 730px;
    background-color: #F7F7F7;
     box-shadow:0.2px 0.2px 0.2px 0.2px #C9C9C9;
 	-webkit-box-shadow:0.2px 0.2px 0.2px 0.2px #C9C9C9;
	 -moz-box-shadow:0.2px 0.2px 0.2px 0.2px #C9C9C9;
     border-radius: 10px;
      margin: auto; 
      cursor: pointer;    
}

.statusTitle{
    color : #818181;
	font-size:30px;
    font-family:"Comic Sans MS";
    width: 100%;
    margin: 0 auto; 
    margin-top:18px;
    text-align: left;
}

.statusContent{
    
    width: 100%;
    margin-left: 20px; 
    margin-top:20px;
    text-align: left;
}

.cntStyle{
	color : black;
	font-size:25px;
    font-family:"serif";
}

.big-checkbox {width: 30px; height: 30px;}

.spPad{
	padding-bottom : 10px;
}

.progress{width:98%}

.statusContainer{
    height : calc(100% - 100px);
    width :100%;
}

.sideMenu{
    border : 0px solid gray;
    height : calc(100% - 100px);
    width:280px;
    margin-top:20px;
    margin-left:10px;
}


.amountDiv{
    color:red;
    margin-bottom:10px;
    font-style: italic;
}


.labelDiv{
    color:grey;
}