.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {               
font-family:    Garamond;
font-size:      1.3em;
}

.belt{
   min-height: 3px;
   max-height: 3px;
}