<!--<button class="btn" (click)="loadPage($event)">test </button>-->

<!--<div id="myDiv"></div>-->

<div id="mySidenav" class="sidenav">
  
  <div class="list-group mySidenav2" >
    <a href="#" class="list-group-item disabled">
     Select Column
     <a class="closebtn"  id="sideMenuClose">&times;</a> 
    </a>
    <a *ngFor="let colName of allHeaders" class="list-group-item fields">
       <label ><input style="margin-left : -20px; margin-right:10px" type="checkbox" [(ngModel)]="colName.selected">{{colName.name}}</label>
    </a>
   <a class="list-group-item likeabutton" (click)="applyColSelection($event)">
      <span style="margin-left:20px" > Apply</span>
    </a>
  </div>
  </div>

<div id="main">
  <table style="width: 100%; padding-bottom:20px;">
    <tr>
        <td>
          <div class="meterBox" ><a routerLink="/import/order/new" routerLinkActive="active" >
             <div class="meterNumber"><span class = "meterTestSpan"> {{newOrders}}</span></div>
             <div class="txtOrders"><span class = "meterTestSpan"> Orders</span></div>
              <div class="meterText"><span class = "meterTestSpan"> New </span></div>
              </a>
          </div>
      </td>
       <td>
          <div class="meterBox"><a routerLink="/import/order/inTransit" routerLinkActive="active" >
             <div class="meterNumber"><span class = "meterTestSpan"> {{inTransitOrders}}</span></div>
              <div class="txtOrders"><span class = "meterTestSpan"> Orders</span></div>
             <div class="meterText"><span class = "meterTestSpan">In Transit</span></div>
              </a>
          </div>
      </td>
       <td>
          <div class="meterBox"><a routerLink="/import/order/inPort" routerLinkActive="active" >
             <div class="meterNumber"><span class = "meterTestSpan"> {{inPortOrders}}</span></div>
             <div class="txtOrders"><span class = "meterTestSpan"> Orders</span></div>
             <div class="meterText"><span class = "meterTestSpan">In Port</span></div>
              </a>
          </div>
      </td>
      <td>
          <div class="meterBox"><a routerLink="/import/order/inTerminal" routerLinkActive="active" >
             <div class="meterNumber"><span class = "meterTestSpan"> {{inTerminalOrders}}</span></div>
             <div class="txtOrders"><span class = "meterTestSpan"> Orders</span></div>
             <div class="meterText"><span class = "meterTestSpan">In Terminal</span></div>
              </a>
          </div>
      </td>

    </tr>

  </table>
 <hr> 
<table  class="table table-striped tableFont" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="20" 
    [class.hidden]="selectedHeaders.length<1"
    >
    <thead>
    <tr>
        <th >Id</th>
        <th class="text-center"
            [ngClass]="{
            'text-center' : tableHeader.j=='c' || tableHeader.j=='x',
            'text-left' : tableHeader.j=='l'
            }"

         *ngFor="let tableHeader of selectedHeaders; let i = index"> 
            <mfDefaultSorter by="{{tableHeader.value}}"><font class ="tbl-header">{{tableHeader.name}}</font></mfDefaultSorter>
        </th>
        <th style="width: 5%;" class ="tbl-header">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of mf.data; let i = index"
        [ngStyle]="{
            'background-color':item.bckColor,
            'color':item.txtColor
        }"
        >
         <td >{{i+1 + mf.rowsOnPage*(mf.activePage -1)}}</td>    
         <td class="text-center"
            [ngClass]="{
            'text-center' : tableHeader.j=='c',
            'text-left' : tableHeader.j=='l',
            'hidden' : tableHeader.j=='x'
            }"
         *ngFor="let tableHeader of selectedHeaders; let i = index"> 
             <div *ngIf ="tableHeader.value!='progress'">{{item[tableHeader.value]}}</div>
             <div *ngIf ="tableHeader.value=='progress'" class="progress" style="padding:0px;margin-bottom:0px">
                <div class="progress-bar progress-bar-success" role="progressbar" [attr.aria-valuenow]="item[tableHeader.value]"
                aria-valuemin="0" aria-valuemax="100" [style.width] ="item[tableHeader.value] + '%'">
                    <font color="black">{{item[tableHeader.value] + '%'}}</font>
                </div>
           </div>
          </td>

        <td class="text-center" >
            <div class="dropdown" style="border: 0">
            <button id= "{{item.id.toString() + '*' + item.name}}" #dropButton class="btn btn-default dropdown-toggle"
                (click)="activeProductHeader = dropButton.id"
                 style="border:0px solid transparent !important;background-color:transparent" type="button" id="dropdownMenu1"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="caret"></span>
            </button>
            <ul id="{{item.id.toString() + '-' + item.name}}" #dropDownBox class="dropdown-menu dropdown-menu-right" 
                 aria-labelledby="dropdownMenu1">
                <li><a >Open Order</a></li>
                 <li role="separator" class="divider"></li>
                <li><a>Open Shipping</a></li>
                <li role="separator" class="divider"></li>
                <li><a>Open Payment</a></li>
                 <li role="separator" class="divider"></li>
                <li><a>Open Bid</a></li>

            </ul>
            </div>
        </td>
      </tr>
    </tbody>
    <tfoot> 
    <tr>
        <td [attr.colspan]="selectedHeaders.length + 3">
            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,40]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>

</div>



  <!-- Modal -->
  <div #myModal class="modal fade" id="homeModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Home Page Table color settings</h4>
        </div>
        <div class="modal-body" style="margin-bottom:-35px">
          <table class="table">
            <thead>
            <tr>
                <th>No</th>
                <th>Column</th>
                <th>Back Color</th>
                <th>Text Color</th>
                <th>Greater Than</th>
                <th>Less Than</th>            
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let clrSet of colorSettings; let i = index">
                <td>{{i+1}}</td>
                <td>{{clrSet.colName}}</td>
                <td><label [style.background]="clrSet.bckColor" [style.color]="clrSet.bckColor">___</label>&nbsp; {{clrSet.bckColor}}</td>
                <td><label [style.background]="clrSet.txtColor" [style.color]="clrSet.txtColor">___</label>&nbsp; {{clrSet.txtColor}}</td>
                <td>{{clrSet.greater}}</td>
                <td>{{clrSet.less}}</td>
                <td><a (click)="deleteColor(clrSet)">Delete</a></td>
            </tr>
            <tr >
                <td style="padding-top:60px">+</td>
                <td style="padding-top:60px">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{colorConfig.colName}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li *ngFor ="let col of coloredColumns" (click)="colorConfig.colName=col.name;colorConfig.colValue=col.value"><a href="#">{{col.name}}</a></li>
                        </ul>
                    </div>
                </td>
                <td style="padding-top:60px">
                <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{colorConfig.bckColor}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li *ngFor ="let color of colors" (click)="colorConfig.bckColor=color">
                                <a href="#"><label [style.background]="color" [style.color]="color">___</label>&nbsp; {{color}}</a></li>
                        </ul>
                    </div>
                </td>
                <td style="padding-top:60px">
                    <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{colorConfig.txtColor}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li *ngFor ="let color of colors" (click)="colorConfig.txtColor=color">
                            <a href="#"><label [style.background]="color" [style.color]="color">___</label>&nbsp; {{color}}</a></li>
                    </ul>
                    </div>
                </td>
                <td style="padding-top:60px"><input digitsonly type="text" placeholder="Greater Than" style="width: 100px;line-height: 26px" [(ngModel)]="colorConfig.greater"/></td>
                <td style="padding-top:60px"><input digitsonly type="text" placeholder="Less Than" style="width: 100px;line-height: 26px" [(ngModel)]="colorConfig.less"/></td>
                <td style="padding-top:60px"><button class="btn btn-default" (click) ="addColorSetting()"> Add</button></td>
            </tr>
    </tbody>
  </table>
</div>
            <div class="modal-footer">
            <!--<button type="button" class="btn btn-default" >Apply</button>-->
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="getAllData()">Apply</button>
            </div>
      </div>
    </div>
  </div>

 <button #myModalBtn2 data-toggle="modal" data-target="#homeModal" hidden></button>