.sidenav {
    height: calc(100% - 60px); /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 80px;
    left: 0;
    background-color: #F7F7F7; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: black;
}

.sidenav .closebtn a:hover {
    color: black;
}
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 14px;
    margin-left: 120px;
    margin-top: -10px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.mySidenav2{
    margin-top :-40px;
}

.likeabutton {
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    text-decoration: none; font: menu; color: ButtonText;
    display: inline-block; padding: 2px 8px;
    cursor: pointer;
}


.meterBox {
    width: 175px;
    height: 75px;
    background-color: #F7F7F7;
     box-shadow:0.2px 0.2px 0.2px 0.2px #C9C9C9;
 	-webkit-box-shadow:0.2px 0.2px 0.2px 0.2px #C9C9C9;
	 -moz-box-shadow:0.2px 0.2px 0.2px 0.2px #C9C9C9;
     border-radius: 10px;
      margin: auto; 
      cursor: pointer; 
     
}
.meterNumber{
    color : gray;
	font-size:25px;
    font-family:"Comic Sans MS";
    width: 100%;
    margin: 0 auto; 
    margin-top:-20px;
    text-align: center;
}

.meterText{
	color : grey;
	font-size:18px;
    font-family:"Courier New";
    width: 100%;
    margin: 0 auto; 
    text-align: center;
}

.txtOrders{
	color : grey;
	font-size:14px;
    font-family:"Courier New";
    width: 100%;
    margin: 0 auto; 
    text-align: center;
}


.meterTestSpan{

    display: inline-block;
}

.agencyEl{
    cursor: pointer;
}

#trackTable{
    font-size: 10;
}