
<div class="alert alert-auto" alert-dismissible
    [ngClass]="{
      'hidden' : alertHidden,
      'alert-danger' :  alertType == 'Error',
      'alert-success' : alertType == 'Info'
    }"
  >
<a  class="close" aria-label="close" (click)="alertHidden = true">x</a>
  <strong>{{alertType}}!</strong> {{itemMsg}}
</div>

<div id="wrapper" style="text-align: center"> 
  <div class="dropdown pull-center">
    Terminal Setting Table (All IN USD)
  </div>
</div>


<form (submit)="addUpdate($event)">
<table class="table table-striped tableFont" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="20" >
    <thead>
    <tr>
        <th class="text-center"
            [ngClass]="{
            'text-center' : tableHeader.j=='c' || tableHeader.j=='x',
            'text-left' : tableHeader.j=='l'
            }"
         *ngFor="let tableHeader of headers; let i = index"> 
            <mfDefaultSorter by="{{tableHeader.value}}"><font class ="tbl-header">
              {{tableHeader.name}}</font></mfDefaultSorter>
        </th>
        <th style="width: 5%;" class ="tbl-header">Action</th>
    </tr>
    </thead>
    <tbody>

      <tr *ngFor="let item of mf.data; let i = index">
         <td class="text-center" >{{i+1 + mf.rowsOnPage*(mf.activePage -1)}}</td>     
         <td class="text-center"
            [ngClass]="{
            'text-center' : tableHeader.j=='c',
            'text-left' : tableHeader.j=='l',
            'hidden' : tableHeader.j=='x'
            }"
         *ngFor="let tableHeader of headers; let i = index">
              <div *ngIf = "tableHeader.value != 'eta' && tableHeader.value != 'etd' "> 
                {{item[tableHeader.value]}}
              </div>
              <div *ngIf = "tableHeader.value == 'eta' || tableHeader.value == 'etd'"> 
                {{item[tableHeader.value] | date: 'dd/MM/yyyy'}}
              </div>
            </td>
        <td class="text-center" >
            <div class="dropdown" style="border: 0">
            <button id= "{{item.id.toString() + '-' + item.name}}" #dropButton class="btn btn-default dropdown-toggle"
                (click)="activeProductHeader = dropButton.id"
                 style="border:0px solid transparent !important;background-color:transparent" type="button" id="dropdownMenu2"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="caret"></span>
            </button>
            <ul id="{{item.id.toString() + '-' + item.name}}" #dropDownBox class="dropdown-menu dropdown-menu-right" 
                 aria-labelledby="dropdownMenu2">
                <li><a #edit_item (click)="editItem(edit_item.parentElement.parentElement.id);activeOrderId=item.orderRef">Edit</a></li>
                 <li role="separator" class="divider"></li>
                <li><a #deleteitem (click)="triggerDelModal($event)">Delete</a></li>
            </ul>
            </div>
        </td>
      </tr>
    </tbody>
    
    <tfoot>    

      <tr [class.hidden]="hideAddNewForm" class="inputFormTr">
        <td class="text-center" ><span class="glyphicon glyphicon-remove-circle closeAddForm" aria-hidden="true" style="margin-top:5px"></span></td>
        <td><textarea  class="form-control txt-flat" rows="2" placeholder="Name" required [(ngModel)]="itemDetail.name" [ngModelOptions]="{standalone: true}"></textarea></td> 
        <td><textarea  class="form-control txt-flat" rows="2" digitsonly placeholder="Offload Fee 20'/cont" required [(ngModel)]="itemDetail.offloadFee20ft" [ngModelOptions]="{standalone: true}"></textarea></td>       
        <td><textarea  class="form-control txt-flat middletext" digitsonly rows="2" placeholder="Offload Fee 40'/cont" required [(ngModel)]="itemDetail.offloadFee40ft" [ngModelOptions]="{standalone: true}"></textarea></td> 
        <td><textarea  class="form-control txt-flat" rows="2" digitsonly placeholder="Admin & Service Charge/bill" required [(ngModel)]="itemDetail.adminServiceCharge" [ngModelOptions]="{standalone: true}"></textarea></td> 
         <td><textarea  class="form-control txt-flat" rows="2" numberonly placeholder="Free days" required [(ngModel)]="itemDetail.freeDays" [ngModelOptions]="{standalone: true}"></textarea></td>        
         <td><textarea  class="form-control txt-flat" rows="2" numberonly placeholder="1st Storage days" required [(ngModel)]="itemDetail.storageFirstRangeDays" [ngModelOptions]="{standalone: true}"></textarea></td>        
          <td><textarea  class="form-control txt-flat" rows="2" digitsonly placeholder="1st Range Rate/cont 20''" required [(ngModel)]="itemDetail.storageFirstRangeFee20ft" [ngModelOptions]="{standalone: true}"></textarea></td>      
          <td><textarea  class="form-control txt-flat" rows="2" digitsonly placeholder="1st Range Rate/cont 40''" required [(ngModel)]="itemDetail.storageFirstRangeFee40ft" [ngModelOptions]="{standalone: true}"></textarea></td>      
          <td><textarea  class="form-control txt-flat" rows="2" numberonly placeholder="2nd Storage days" required [(ngModel)]="itemDetail.storageSecondRangeDays" [ngModelOptions]="{standalone: true}"></textarea></td> 
         <td><textarea  class="form-control txt-flat" rows="2" digitsonly placeholder="2nd Range Rate/cont 20''" required [(ngModel)]="itemDetail.storageSecondRangeFee20ft" [ngModelOptions]="{standalone: true}"></textarea></td>       
         <td><textarea  class="form-control txt-flat" rows="2" digitsonly placeholder="2nd Range Rate/cont 40''" required [(ngModel)]="itemDetail.storageSecondRangeFee40ft" [ngModelOptions]="{standalone: true}"></textarea></td>       
           <td><textarea  class="form-control txt-flat" rows="2" digitsonly placeholder="Transport fees/cont" required [(ngModel)]="itemDetail.transport" [ngModelOptions]="{standalone: true}"></textarea></td> 
         <td><textarea  class="form-control txt-flat" rows="2" digitsonly placeholder="Tarrif/cont" required [(ngModel)]="itemDetail.importTarrif" [ngModelOptions]="{standalone: true}"></textarea></td> 
           <td><textarea  class="form-control txt-flat" rows="2" digitsonly placeholder="Other %" required [(ngModel)]="itemDetail.otherPercent" [ngModelOptions]="{standalone: true}"></textarea></td> 
         <td class="text-left" ><input type="submit" class="btn btn-success" value="{{taskType}}"/></td>
      </tr>      
    <tr>
        <td colspan="16" > <font class ="tbl-header">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,20,25]"></mfBootstrapPaginator></font>
        </td>
    </tr>
    </tfoot>
</table>

</form>


