<form id="register"  (submit)="register($event,fullname.value, email.value, phone.value, password.value,rpassword.value)">
    <h1>Register</h1>   
    <input style="display:none"><input type="password" style="display:none"> 
    <fieldset id="inputs">       
        <input id="fullname" #fullname type="text" placeholder="First & Last Name" autofocus required> 
        <input id="email" #email type="text" placeholder="Email" autofocus required>
        <input id="phone" #phone type="text" placeholder="+ Phone No with area code" autofocus required>    
        <input id="password" #password type="password" placeholder="Password" autofocus required>
        <input id="rpassword" #rpassword type="password" placeholder="Repeat Password" autofocus required>      
    </fieldset>
   <span class="text-danger">{{registerMsg}}</span>
    <fieldset id="actions">       
        <input type="submit" id="submit" value="Request Access">
        <a [routerLink]="['/open/passrenew']">Forgot your password?</a>
        <a href="/login">Log in</a>
    </fieldset>
</form>


<div id="footerImg">
    <img src="images/footer.jpg"/>
</div>
