
.inputFormTr{
    border:2pt solid #09a586;
}

.middletext {
    text-align: justify;
    white-space: pre-line;
    -moz-text-align-last: center;
    text-align-last: center;
}

.tbl-header{
    font-weight:normal;
    /*color:#0a56a8;*/
    color:green;
}


#rangeSelector{
    width:350px;
}
/*.alert-auto {display:inline-block;}*/