 <app-header [loaderHidden]="hideLoader"></app-header>

<form id="register" (submit)="changePass($event,cPassword.value, nPassword.value, rPassword.value)">
    <h1>Change Password</h1>   
    <input style="display:none"><input type="password" style="display:none"> 
    <fieldset id="inputs">       
        <input id="cPassword" #cPassword type="Password" placeholder="Current Password" autofocus required>
        <input id="nPassword" #nPassword type="Password" placeholder="New Password" autofocus required>
        <input id="rPassword" #rPassword type="Password" placeholder="Repeat New Password" autofocus required>      
    </fieldset>
   <span class="text-danger">{{changePassMsg}}</span>
    <fieldset id="actions">       
        <input type="submit" id="submit" value="Submit" >
    </fieldset>
</form>