 <!--<app-header 
    [optionsObj]="optionsList">
    </app-header>-->


<table class="table table-striped tableFont" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="5" >
    <thead>
    <tr >
        <th *ngFor="let header of headerNames">
            <mfDefaultSorter by="name">{{header.cap}}</mfDefaultSorter>
        </th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of allUsers; let i = index">  
        <td class="text-left" >{{i+1}}</td>      
        <td class="text-left" >{{user.fullname}}</td>
        <td class="text-left">{{user.email}}</td>
        <td class="text-left">{{user.phone}}</td>
        <td class="text-left">{{user.department}}</td>
        <!--<td class="text-left">{{user.approver}}</td>-->
        <td  *ngIf="user.approver==true">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </td>
        <td  *ngIf="user.approver==false"></td>
        <td class="text-left">{{user.role}}</td>
        <td class="text-left">{{user.status}}</td>
        <td class="text-center" >
            <div class="dropdown" style="border: 0">
            <button id= {{user.id}} class="btn btn-default dropdown-toggle" 
                [class.disabled]="loggedUserId == user.id ? true : false"
                style="border:0px solid transparent !important" type="button" id="dropdownMenu1"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="caret"></span>
            </button>
            <ul id={{user.header}} #dropDownBox class="dropdown-menu dropdown-menu-right" 
                (click)="transferDetail(dropDownBox.id)" aria-labelledby="dropdownMenu1">
                <li><a (click)="edit(deleteuser.parentElement.parentElement.id)">Edit</a></li>
                 <li role="separator" class="divider"></li>
                <li><a #deleteuser data-toggle="modal" data-target="#userModal"
                 (click)="storeUserId(deleteuser.parentElement.parentElement.id)">Delete</a></li>

            </ul>
            </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr *ngIf = "userData != null " [class.hidden]="hideEditForm" class="inputFormTr">
        <td class="text-center" ><span class="glyphicon glyphicon-plus" aria-hidden="true" style="margin-top:5px"></span></td>
        <td><textarea #unit class="form-control txt-flat" rows="2"  readonly [(ngModel)]="userData.fullname" [ngModelOptions]="{standalone: true}"></textarea></td> 
        <td><textarea #unit class="form-control txt-flat middletext" rows="2"  readonly [(ngModel)]="userData.email" [ngModelOptions]="{standalone: true}"></textarea></td> 
        <td><textarea #unit class="form-control txt-flat middletext" rows="2"  readonly [(ngModel)]="userData.phone" [ngModelOptions]="{standalone: true}"></textarea></td> 
        <td>
            <div class="btn-group ">
            <button type="button" class="btn btn-default dropdown-toggle editFormMargin noBorder" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{userData.department}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">         
                <li><a (click)="userData.department = 'Clearing'">Clearing</a></li>
                <li><a (click)="userData.department = 'Finance'">Finance</a></li>
                <li><a (click)="userData.department = 'Import'">Import</a></li>
                <li><a (click)="userData.department = 'Manager'">Manager</a></li>
            </ul>
            </div>
        </td>
        <td>
            <div class="btn-group ">
            <button type="button" class="btn btn-default dropdown-toggle editFormMargin noBorder" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{userData.approver==true? 'Yes':'No'}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="userData.approver=true">Yes</a></li>
                <li><a (click)="userData.approver=false">No</a></li>
            </ul>
            </div>
        </td>
        <td>
            <div class="btn-group  ">
            <button type="button" class="btn btn-default dropdown-toggle editFormMargin noBorder" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{userData.role}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="userData.role = 'Admin'">Admin</a></li>
                <li><a (click)="userData.role = 'User'">User</a></li>
            </ul>
            </div>
        </td>
        <td>
            <div class="btn-group ">
            <button type="button" class="btn btn-default dropdown-toggle editFormMargin noBorder" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{userData.status}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a (click)="userData.status = 'Active'">Activate</a></li>
                <li><a (click)="userData.status = 'Inactive'">Deactivate</a></li>
            </ul>
            </div>
        </td>
        <!--<td><textarea #itemOrigin class="form-control txt-flat middletext" rows="2"  placeholder="Status" required [(ngModel)]="userData.status" [ngModelOptions]="{standalone: true}"></textarea></td>-->
        <td class="text-left" ><input type="button" class="btn btn-success" (click)= "update()" value="Update"/></td>
      </tr>  
    <tr>
        <td colspan="9">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
        </td>
    </tr>
    </tfoot>
</table>

  <!-- Modal -->
  <div class="modal fade" id="userModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">User</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete user '{{detail}}'?</p>
        </div>
        <div class="modal-footer">
          <button type="button" (click) = "deleteUser()" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" (click) = "clearUserId()" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

