.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #33C4FF;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

 .txt-flat {
    overflow:hidden;
    min-width: 100%;
    resize: none;
    border: none;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    padding-left: 0px;
    padding-right: 0px;
}

.noBorder{
    border: none;
    background: none;
}

.approveList{
    margin:10px;
    font-size:10px;
}