<form id="login" (submit)="login($event, username.value, password.value)">
    <h1>Log In</h1>
    <fieldset id="inputs">
        <input id="username" #username type="text" placeholder="Username" autofocus required>   
        <input id="password" #password type="password" placeholder="Password" required>
    </fieldset>
    <fieldset id="actions">
        <input type="submit" id="submit" value="Log in">
        <a [routerLink]="['/signup']">Forgot your password?</a>
        <a [routerLink]="['/signup']">Register</a>
    </fieldset>
</form>

 