
<form id="login" (submit)="login($event, email.value, password.value)">
    <h1>Log In</h1>
    <fieldset id="inputs">
        <input id="email" #email type="text" placeholder="Email" autofocus required>   
        <input id="password" #password type="password" placeholder="Password" required>
    </fieldset>
    <span class="text-danger">{{loginMsg}}</span>
    <fieldset id="actions">
        <input type="submit" id="submit" value="Log in">
        <a [routerLink]="['/other/passrenew']">Forgot your password?</a>
        <a [routerLink]="['/other/register']">Register</a>
    </fieldset>
</form>

<div id="footerImg">
    <img src="images/footer.jpg"/>
</div>

