
<hr style="margin:0px;padding:2px;background-color:#09a586"/>
<nav class="navbar navbar-default" [class.hidden]="navHidden">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">   
        <img id="loader" style="width:100px;height:40px;margin-top:-10px" src="assets/images/anseba_icon.png" alt="ERIANGO" >
      		<!--<span class="text-primary stuff" style="font-family:Garamond;font-size:1.3em;font-style: italic; "> ERIANGO</span>-->
          </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="homeMenu"><a routerLink="/" routerLinkActive="active" >Home <span class="sr-only">(current)</span></a></li>
         <li id="statusMenu"><a routerLink="/status/search" routerLinkActive="active" >Status <span class="sr-only">(current)</span></a></li>      
        <li class="dropdown" id="importMenu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Import <span class="caret"></span></a>
          <ul class="dropdown-menu">           
            <li><a routerLink="/import/order/all" routerLinkActive="active" >All Orders</a></li> 
            <li><a routerLink="/import/order/new" routerLinkActive="active" >New Orders</a></li>
            <li><a routerLink="/import/order/inTransit" routerLinkActive="active" >Orders In Transit</a></li> 
            <li><a routerLink="/import/order/inPort" routerLinkActive="active" >Orders In Port</a></li> 
            <li><a routerLink="/import/order/inTerminal" routerLinkActive="active" >Orders In Terminal</a></li> 
            <li role="separator" class="divider"></li>
            <li><a routerLink="/import/bid/all" routerLinkActive="active" >All Bid</a></li>
            <li><a routerLink="/import/shipping/all" routerLinkActive="active" >All Shipments</a></li>
            <li><a routerLink="/import/container/all" routerLinkActive="active" >All Containers</a></li>       
          </ul>
        </li>

        <!--<li>
            <div class="btn-group navbar-btn">
              <div type="button" class="btn btn-default" style="border:none">Hello</div>   
              <button type="button" class="btn btn-default dropdown-toggle" 
                      data-toggle="dropdown" style="border:none"> 
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
                &nbsp;
              </button>   
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Status</a></li>
                <li><a href="#">Notification</a></li>
              </ul>
            </div>
        </li>-->
        <li id="financeMenu" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Finance <span class="caret"></span></a>
          <ul class="dropdown-menu">           
            <li><a routerLink="/finance/payment/all" routerLinkActive="active" >All Payments</a></li> 
            <li><a routerLink="/finance/approval/all" routerLinkActive="active" > All Approvals</a></li>
            <li><a routerLink="/finance/estimator/search" routerLinkActive="Active" >Order Estimator</a></li>
            <li><a routerLink="/finance/budget/all" routerLinkActive="Active" >Budget Estimate</a></li>
            <li><a routerLink="/finance/salesPlan" routerLinkActive="active" >Sales Plan</a></li> 
          </ul>
        </li>

        <li id="documentsMenu" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Documents <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/document/license/all" routerLinkActive="active" >License</a></li> 
            <li><a routerLink="/document/docTracking/all" routerLinkActive="active" >Document Tracking</a></li>  
            <li><a routerLink="/document/uploaded/all" routerLinkActive="active" >Uploaded Documents</a></li>
            <li><a routerLink="/document/handover/all" routerLinkActive="active" >Document Handover</a></li>  
            <!--<li role="separator" class="divider"></li>
            <li><a routerLink="/document/Bill_of_Loading" routerLinkActive="active" >Bill of Loading</a></li>               
            <li><a routerLink="/document/Commercial_Invoice" routerLinkActive="active" >Commerical Invoice</a></li>
            <li><a routerLink="/document/CNCA" routerLinkActive="active" > CNCA</a></li>
            <li><a routerLink="/document/Certificate_of_Health" routerLinkActive="active" > Certificate of Health</a></li>
            <li><a routerLink="/document/Certificate_of_Origin" routerLinkActive="active" > Certificate of Origin</a></li>
            <li><a routerLink="/document/Certificate_of_Analise" routerLinkActive="active" > Certificate of Analise</a></li>
            <li><a routerLink="/document/Certificate_of_Fumigation" routerLinkActive="active" > Certificate of Fumigation</a></li>
            <li><a routerLink="/document/Certificate_of_Quality" routerLinkActive="active" > Certificate of Quality</a></li>
            <li><a routerLink="/document/Certificate_of_Insurance" routerLinkActive="active" > Certificate of Insurance</a></li>
            <li><a routerLink="/document/Du License" routerLinkActive="active" >Du License </a></li>
            <li><a routerLink="/document/Inspection" routerLinkActive="active" >Inspection </a></li>
            <li><a routerLink="/document/Local_Phytosanitary" routerLinkActive="active" >Local Phytosanitary </a></li>
            <li><a routerLink="/document/Packing_List" routerLinkActive="active" >Packing List </a></li>
            <li><a routerLink="/document/Proforma_Invoice" routerLinkActive="active" >Proforma Invoice</a></li>
            <li><a routerLink="/document/Order_Authorization" routerLinkActive="active" >Order Authorization</a></li>         
            <li><a routerLink="/document/Other" routerLinkActive="active" >Other</a></li>-->
          </ul>
        </li>

        <!--<li id="reportMenu" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Report <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Report 1</a></li>
            <li><a href="#">Another Report</a></li>
            <li><a href="#">Something else Report</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more Report</a></li>
          </ul>
        </li>-->
        <li id="statusMenu"><a routerLink="/notification" routerLinkActive="active" >Notifications<span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Edit<span class="caret"></span></a>
          <ul *ngIf = "toolsList !=null" class="dropdown-menu">
            <li *ngFor="let option of toolsList;" [class.divider]="option.value=='divider'" role="option.value=='divider'? 'separator' : ''">
              <a id="{{option?.value}}" #me (click)="triggerOption(me.id)">{{option?.name}}</a>
            </li>
          </ul>
        </li>

        <li id="settingsMenu" class="dropdown" [class.hidden]="regUser">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/setting/users" routerLinkActive="active" (click)="activePageName='Users'" >Users</a></li>
            <li role="separator" class="divider"></li>                   
            <li><a routerLink="/setting/items" routerLinkActive="active" (click)="activePageName='Items'" >Items/Fees</a></li>
            <li><a routerLink="/setting/legalization" routerLinkActive="active" (click)="activePageName='Legalization/offload'">Shipping Agency</a></li>
            <li><a routerLink="/setting/currency" routerLinkActive="active" (click)="activePageName='Currency Exchange'">Currency Exchange</a></li>
            <li><a routerLink="/setting/addressBook" routerLinkActive="active" (click)="activePageName='Clients/WH'">Address Book</a></li>
            <li><a routerLink="/setting/terminal" routerLinkActive="active" (click)="activePageName='Terminals'">Terminals</a></li>
            <li><a routerLink="/setting/misc" routerLinkActive="active" (click)="activePageName='Misc Settings'">Others</a></li>
          </ul>
        </li>
      </ul>
      
      

      <ul class="nav navbar-nav navbar-right">
      <li>
		 <form class="navbar-form navbar-nav">
			<div class="input-group">
			      <input type="text" class="form-control" #searchTxt (keyup)="search(searchTxt.value)" placeholder="Search for...">
			</div><!-- /input-group -->
	      </form>
	      </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
           <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/changePassowrd" routerLinkActive="active">Change Password</a></li>  
            <li role="separator" class="divider"></li>
            <li><a>{{buildNo}}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout">logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid   routerLink="/login" routerLinkActive="active" -->
</nav>

  <!-- Modal -->
  <div #myModal class="modal fade" id="itemModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{title}}</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete '{{modalMsg}}'?</p>
        </div>
        <div class="modal-footer">
          <button type="button" (click) = "deleteItem()" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

 <button #myModalBtn data-toggle="modal" data-target="#itemModal" hidden></button>


