.txt-flat {
    overflow:hidden;
    min-width: 100%;
    resize: none;
    border: none;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    padding-left: 0px;
    padding-right: 0px;
}

.inputFormTr{
    border:2pt solid #09a586;
}

.tbl-header{
    font-weight:normal;
    /*color:#0a56a8;*/
    color:green;
}

.tableFont{
    font-size: 13px;
}

#rangeSelector{
    width:200px;
}
/*.alert-auto {display:inline-block;}*/