<div class="container" style="width:100%">

       <div class="row">
         <div class="col-sm-3" style="background-color:white;">
              
              <div class="input-group" style="width:90%;margin-top:5px">
              <div class="input-group-btn" >
                  <div class="btn-group"> 
                      <button class="btn btn-default dropdown-toggle" style="width:110px" type="button" data-toggle="dropdown">
                          <span data-bind="label" id="searchLabel">User</span> <span class="caret"></span>
                      </button> 
                      <ul class="dropdown-menu" role="menu">
                        <li><a (click)="activeUser='All';loadAcces('all')">All</a></li>
                        <li *ngFor="let user of allUsers">
                          <a (click)="activeUser=user.fullname;loadAcces(user.fullname)">{{user.fullname}}</a>
                        </li>
                      </ul>
                  </div>
              </div>  
              <input type="text" style="background-color :white;" readonly class="form-control " value="{{activeUser}}"/>
              </div>
         
         </div>
          <div class="col-sm-9" style="background-color:white;">
            <sebm-google-map 
                  [latitude]="lat"
                  [longitude]="lng"
                  [zoom]="zoom"
                  [disableDefaultUI]="false"
                  [zoomControl]="false"
                  (mapClick)="mapClicked($event)">
                
                  <sebm-google-map-marker 
                      *ngFor="let m of markers; let i = index"
                      (markerClick)="clickedMarker(m.label, i)"
                      [latitude]="m.lat"
                      [longitude]="m.lng"
                      [label]="m.label"
                      [markerDraggable]="m.draggable"
                      (dragEnd)="markerDragEnd(m, $event)">
                      
                    <sebm-google-map-info-window>
                      
                      <strong>hello zaharya <br> aleki do</strong>
                    </sebm-google-map-info-window>
                    
                  </sebm-google-map-marker>
                  
                  <sebm-google-map-circle [latitude]="lat + 0.3" [longitude]="lng" 
                      [radius]="5000"
                      [fillColor]="'red'"
                      [circleDraggable]="true"
                      [editable]="true">
                  </sebm-google-map-circle>

                </sebm-google-map>
         </div>
       </div>
</div>

