 <!--<app-header 
    (activateSearch)="search($event)"
    (activateOptions)="option($event)"
    (deleteEmtter)="delete($event)"
    [optionsObj]="optionsList"
    ></app-header>-->

<div class="alert alert-auto" alert-dismissible
    [ngClass]="{
      'hidden' : alertHidden,
      'alert-danger' :  alertType == 'Error',
      'alert-success' : alertType == 'Info'
    }"
  >
<a  class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{alertType}}!</strong> {{itemMsg}}
</div>

  <!--<div class="panel panel-default myPannel">
    <div class="panel-body">-->

<div id="wrapper" style="text-align: center"> 
  <div class="dropdown pull-center">
    <button class="btn btn-default dropdown-toggle" style="border:none" type="button" id="dropdownMenu2" 
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" (click)="toggleRangeSelector()">
      Orders For : {{returnedRange}}
      <span class="caret"></span>
    </button>
  </div>
</div>

<div id="rangeSelector" [class.hidden]="rangeSelectorHidden"><br>
    <table>
      <tr>
      <td>
        <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="yearBtn" #yearBtn data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="true" style="min-width:150px">
        {{selectedYear}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2" id="yearSelector">
          <li *ngFor ="let year of years;">
            <a (click)="selectedYear = year">{{year}}</a>
          </li>
        </ul>
      </div>
    </td>
  
  <td>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="monthBtn" #monthBtn style="min-width:150px"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
            {{selectedMonth}}
            <span class="caret"></span>
          </button>
          <ul id="monthSelector" #monthSelector class="dropdown-menu " aria-labelledby="dropdownMenu2" >
            <li *ngFor ="let month of monthNames"><a (click)="selectedMonth = month">{{month}}</a></li>
          </ul>
      </div>
    </td>

  <td>
     <button #bntOption1 class="btn btn-default" (click)="execute(bntOption1.value)" value ="{{bntOption}}" >{{bntOption}}</button>
  </td>
  </tr>
</table>
</div>

<form (submit)="addUpdateOrder($event)">
<table class="table table-striped tableFont" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="20" >
    <thead>
    <tr>
        <th class="text-center"
            [ngClass]="{
            'text-center' : tableHeader.j=='c' || tableHeader.j=='x',
            'text-left' : tableHeader.j=='l'
            }"
         *ngFor="let tableHeader of headers; let i = index"> 
            <mfDefaultSorter by="{{tableHeader.value}}"><font class ="tbl-header">{{tableHeader.name}}</font></mfDefaultSorter>
        </th>
        <th style="width: 5%;" class ="tbl-header">Action</th>
    </tr>
    </thead>
    <tbody>

      <tr *ngFor="let item of mf.data; let i = index">
         <td class="text-center" >{{i+1}}</td>    
         <td class="text-center"
            [ngClass]="{
            'text-center' : tableHeader.j=='c',
            'text-left' : tableHeader.j=='l',
            'hidden' : tableHeader.j=='x'
            }"
         *ngFor="let tableHeader of headers; let i = index">
         <div *ngIf = "tableHeader.value != 'latestETA'"> 
            {{item[tableHeader.value]}}
          </div>
          <div *ngIf = "tableHeader.value == 'latestETA'"> 
            {{item[tableHeader.value] | date: 'dd/MM/yyyy'}}
          </div>
            </td>
        <td class="text-center" >
            <div class="dropdown" style="border: 0">
            <button id= "{{item.id.toString() + '-' + item.item}}" #dropButton class="btn btn-default dropdown-toggle"
                (click)="activeProductHeader = dropButton.id"
                 style="border:0px solid transparent !important;background-color:transparent" type="button" id="dropdownMenu2"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="caret"></span>
            </button>
            <ul id="{{item.id.toString() + '-' + item.item}}" #dropDownBox class="dropdown-menu dropdown-menu-right" 
                 aria-labelledby="dropdownMenu2">
                <li><a #edit_item (click)="editItem(edit_item.parentElement.parentElement.id)">Edit</a></li>
                 <li role="separator" class="divider"></li>
                <li><a #deleteitem (click)="triggerDelModal($event)">Delete</a></li>
                <li><a >Request Approval</a></li>
                <li><a (click)="openBid($event,item.id)">Open Bid Table</a></li>
            </ul>
            </div>
        </td>
      </tr>
    </tbody>
    
    <tfoot>
      
      <tr [class.hidden]="hideAddNewForm" class="inputFormTr">
        <td class="text-center" ><span class="glyphicon glyphicon-plus" aria-hidden="true" style="margin-top:5px"></span></td>
        <!--<td><textarea name="refId" #refId class="form-control txt-flat" readonly rows="2"  placeholder="auto" >{{itemDetail.budgetRef}}</textarea></td> -->
        <td>  
          <div class="dropdown">
            <!--<input class="dropdown-toggle form-control txt-flat" type="text" data-toggle="dropdown"/>-->
            <textarea id="refId" #refId class="dropdown-toggle form-control txt-flat" data-toggle="dropdown" rows="2"  
                placeholder="Budget Ref" required (keyup)="filterBudget(refId.value)" 
                [(ngModel)]="itemDetail.budgetRef" [ngModelOptions]="{standalone: true}"></textarea>
            
            <ul class="dropdown-menu item-name">
               <li ><a (click)="updateBudgetRef('none')" >New order outside of budget</a></li>
               <li role="separator" class="divider"></li>
              <li >
                <table class="table table-striped tableFont" >
                  <thead><tr>
                   <th class="text-center">Product</th>
                   <th class="text-center">Brand</th>
                   <th class="text-center">Packing</th>
                   <th class="text-center">Origin</th>
                   <th class="text-center">Destination</th>
                   <th class="text-center">Budget period</th>
                   </tr></thead>
                <tr *ngFor = "let plan of filteredSalesPlanList" (click)="updateBudgetRef(plan)">
                  <td>{{plan.name}}</td>
                  <td>{{plan.brand}}</td>
                  <td>{{plan.baseSize+plan.baseUnit+'x' + plan.qtyPerPack}}</td>
                  <td>{{plan.itemOrigin}}</td>
                  <td>{{plan.destinationPort}}</td>
                  <td>{{plan.month +'/'+ plan.year}}</td>
                </tr>
                </table> 
              </li>
                          
                <!--<a>{{plan.name + " " + plan.brand + plan.baseSize + plan.baseUnit}}</a></li>-->
            </ul>
           
          </div>    
        </td>
        
        <td>
          <div class="dropdown">
            <!--<input class="dropdown-toggle form-control txt-flat" type="text" data-toggle="dropdown"/>-->
            <textarea id="itemName" #itemName class="dropdown-toggle form-control txt-flat" data-toggle="dropdown" rows="2"  
                placeholder="Product Name" required (keyup)="filterName(itemName.value)" 
                [(ngModel)]="itemDetail.item" [ngModelOptions]="{standalone: true}"></textarea>
            <ul class="dropdown-menu item-name">
              <li *ngFor = "let itemName of productNameList" (click)="updateNameBrand(itemName)"><a>{{itemName}}</a></li>
            </ul>
          </div>    
        </td>
        
        <td><textarea name="brand" class="form-control txt-flat" rows="2" readonly placeholder="Brand" required 
        [(ngModel)]="itemDetail.brand" [ngModelOptions]="{standalone: true}"></textarea></td> 
   
       <td><textarea name="baseSize" #size class="form-control txt-flat middletext" rows="2"  placeholder="Base Size" required 
        [(ngModel)]="itemDetail.baseSize" [ngModelOptions]="{standalone: true}"></textarea></td> 
        <td>
          <div class="dropdown">
            <!--<input class="dropdown-toggle form-control txt-flat" type="text" data-toggle="dropdown"/>-->
            <textarea id="baseUnit" #baseUnit class="dropdown-toggle form-control txt-flat middletext" data-toggle="dropdown" rows="2"  
                placeholder="Base Unit" required [(ngModel)]="itemDetail.baseUnit" [ngModelOptions]="{standalone: true}"></textarea>
            <ul class="dropdown-menu item-name">
              <li (click)="updateBaseUnit('g')"><a>g</a></li>
              <li (click)="updateBaseUnit('Kg')"><a>Kg</a></li>
              <li (click)="updateBaseUnit('pcs')"><a>pcs</a></li>
              <li (click)="updateBaseUnit('ltr')"><a>ltr</a></li>
              <li (click)="updateBaseUnit('jar')"><a>jar</a></li>
            </ul>
          </div>    
        </td>
        <td><textarea name="qtyPerPack" #unit class="form-control txt-flat middletext" rows="2"  placeholder="Qty/Pck" required [(ngModel)]="itemDetail.qtyPerPack" [ngModelOptions]="{standalone: true}"></textarea></td> 
        <td><textarea name="pckPerCont" #unit class="form-control txt-flat middletext" rows="2"  placeholder="pck/cont" required [(ngModel)]="itemDetail.pckPerCont" [ngModelOptions]="{standalone: true}"></textarea></td> 
        <td><textarea name="contSize" #unit class="form-control txt-flat middletext" rows="2"  placeholder="Cont Size" required [(ngModel)]="itemDetail.contSize" [ngModelOptions]="{standalone: true}"></textarea></td> 
        <td><textarea name="contQnt" #unit class="form-control txt-flat middletext" rows="2"  placeholder="Cont Qty" required [(ngModel)]="itemDetail.contQnt" [ngModelOptions]="{standalone: true}"></textarea></td> 
        <td><textarea name="itemOrigin" #itemOrigin class="form-control txt-flat middletext" rows="2"  placeholder="Item Origin" required [(ngModel)]="itemDetail.itemOrigin" [ngModelOptions]="{standalone: true}"></textarea></td>
        <td><textarea name="destinationPort" #destinationPort class="form-control txt-flat middletext" rows="2"  placeholder="Destination Port" required [(ngModel)]="itemDetail.destinationPort" [ngModelOptions]="{standalone: true}"></textarea></td>
        <!--<td><textarea name="latestEta" #cif class="form-control txt-flat middletext" rows="2"  placeholder="Latest ETA" required [(ngModel)]="itemDetail.latestEta"></textarea></td> -->
        <td><input type="date" class="form-control txt-flat middletext"  [(ngModel)]="itemDetail.latestETA" [ngModelOptions]="{standalone: true}"/></td>
        <td><textarea name="createdby" #updatedOn class="form-control txt-flat middletext" readonly rows="2"  placeholder="auto">{{activeUserName}}</textarea></td> 
        <td><textarea name="updatedOn" #updatedOn class="form-control txt-flat middletext" readonly rows="2"  placeholder="auto">{{todayDate}}</textarea></td> 
        <td class="text-left" ><input type="submit" class="btn btn-success" value="{{taskType}}"/></td>
      </tr>      
    <tr>
        <td colspan="17" > <font class ="tbl-header">
            <mfBootstrapPaginator [rowsOnPageSet]="[5,20,25]"></mfBootstrapPaginator></font>
        </td>
    </tr>
    </tfoot>
</table>

</form>


<!--</div>
</div>-->
  <!-- Modal -->
  <!--<div class="modal fade" id="itemModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">item</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete '{{activeProductHeader | filterName}}'?</p>
        </div>
        <div class="modal-footer">
          <button type="button" (click) = "deleteItem()" class="btn btn-danger" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>-->

